:root{
    --primary-color:#7468b9;
    --secondary-color:rgb(57, 57, 116);
    --tertiary-color: #e8f006;
    --titulo-color: rgb(6, 6, 78);
}

header{
    position: relative;
    width: 100%;
    
}

.navbar-brand img{
    height: 30%;
    width: 40%;
}

#navbarNav ul li a{
    font-size: 18px;
    margin: 0 5px;
    color: var(--primary-color);
    border-bottom: 2px solid transparent;
}

#navbarNav ul li a:hover{
    color: var(--tertiary-color);
    border-color: 1px solid var(--tertiary-color);
    text-decoration: line;
    transition: .4s;
}

header #hero{
    text-align: center;
    width: 100%;
    background: url("../img/fondoHeader.jpg");
    background-size: cover;
    padding: 200px 0 140px;
}

#hero h1{
    color: #000;
    font-size: 46px;
    text-align: center;
    margin-bottom: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#hero p{
    color: #000;
    font-size: 25px;
    text-align: center;
    margin-bottom: 25px;
}

#hero img{
    animation: wiggle 2s linear infinite;
    width: 40%;
    height: 40%;
}

@keyframes wiggle{
    0%, 7%{
        transform: rotateZ(0);
    }
    15%{
        transform: rotateZ(-15deg);
    }
    20%{
        transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}
    


 #hero button{
    padding: 8px 60px;
    background: #e8f006;
    color: var(--primary-color);
    border-radius: 10px;
    margin-top: 40px;
    border: 1px solid transparent;
 }



/* Estilos sesión de Busqueda */
#busqueda{
    width: 100%;
    background: var(--primary-color);
    text-align: center;
    padding: 150px 0;
}

#busqueda h3{
    color: var(--titulo-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 50px;
}

#busqueda h2{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
}
#busqueda p{
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 20px;
}

#busqueda form{
    width: 90%;
    max-width:700px;
    margin: 0 auto;
}

#busqueda h5{
    text-align:left;
}

#busqueda form input,
#busqueda form select{
    width: 100%;
    padding: 10px 15px;
    margin: 15px 0;
    border-radius: 4px;
    border: 1px solid #999;
}

#busqueda button{
    padding: 8px 60px;
    background: #e8f006;
    color: #707070;
    border-radius: 10px;
    margin-top: 40px;
    border: 1px solid #919604;
}

#busqueda button:hover{
    transition: all 400ms ease;
    color: #e8f006;
    background: transparent;
    border-color: #e8f006;
}

/* Estilos de la sección InmueblesV */
#InmueblesV{
    padding: 120px 0;
    text-align: center;
    background: var(--secondary-color);

}

#InmueblesV h2{
    font-weight: 70px;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;

}

#InmueblesV h5{
    font-size: 22px;
    color: #ffffff;
}

#InmueblesV p{
    font-size: 22px;
    color: #000;
}

#InmueblesV .casas{
    margin-top: 80px;
    position: relative;
}

#InmueblesV .casas img{
    height: 70%;
    width: 90%;
    
}

#InmueblesV .texto{
    background: #ffffff;
    margin-left: 5%;
    margin-right: 5%;
}

#InmueblesV .casas h3, h4{
    color: var(--titulo-color);
    z-index: 99;
    top: 120px;
    left: 0;
    right: 0;
    text-align: center;
}

#InmueblesV a{
    color: #919604;
    text-decoration: none;
}

#InmueblesV .casas a:hover{
    color: #4d4c13;
    background: #a0b567;
    transition: all 400ms ease;
    border:1px solid #a0b567 ;
    border-radius: 4px;
}

#InmueblesV button{
    background: yellow;
    color: gray;
    margin-top: 120px;
    padding: 5px 20px;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 500px;
    border-color: transparent;
}

#InmueblesV button:hover{
    transition: all 400ms ease;
    color: #e8f006;
    background: transparent;
    border-color: #e8f006;
}


/* Estilos de la sesión Apartamentos */
#apartamentos{
    width: 100%;
    background: var(--primary-color);
    background-size: cover;
    padding-top: 150px;
    text-align: center;
    padding-bottom: 50px;
}

#apartamentos img{
    height: 60%;
    width: 80%;
}

#apartamentos h2{
    font-weight: 70px;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 700;
}

#apartamentos h3{
    color: var(--titulo-color);
    margin: 20px 0 30px;
    font-size: 20px;
}

#apartamentos p{
    color: #20201e;
    font-size: 20px;
}

#apartamentos h5{
    color: var(--titulo-color);
   
}

#apartamentos a{
    color: rgb(44, 44, 143);
    text-decoration: none;
    border: 2px solid rgb(44, 44, 143);
    border-radius: 4px;
}

#apartamentos a:hover{
    color: #4d4c13;
    background: #6796b5;
    transition: all 400ms ease;
    border-color: transparent;
}

#apartamentos button{
    background: yellow;
    color: gray;
    padding: 5px 20px;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 500px;
    border-color: transparent;
}

#apartamentos button:hover{
    transition: all 400ms ease;
    color: #e8f006;
    background: transparent;
    border-color: #e8f006;
}

/* Estilos de la sesión Ideas */

#ideal{
    width: 100%;
    position: relative;
    background: url("../img/fondoHeader.jpg");
    background-size: cover;

}

#ideal .fila h2{
    color: var(--titulo-color);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 50px 0 30px;
    
}

#ideal .fila .info-card{
    padding: 300px 40px 40px;
    background: transparent;
    transition: .4s;
    position: relative;
}

#ideal .fila .info-card:hover{
    background: #acacac40;
    backdrop-filter: blur(10px);
}

#ideal .info-card h4{
    color: var(--tertiary-color);
    font-size: 28px;
    margin-bottom: 14px;
}

#ideal .info-card h3{
    color: #ffffff;
    font-size: 34px;
    
}

#ideal .info-card p{
    color: transparent;
    margin-bottom: 5px;
    font-size: 18px;
}

#ideal .info-card button{
    background: #ffffff40;
    color: var(--tertiary-color);
    border: 0 transparent;
    padding: 14px 20px;
    border-radius: 5px;
    
}

#ideal .info-card{
    position: absolute;
    bottom: 10px;
    transition: .4s;
}

#ideal .info-card:hover{
    bottom: 20px;
}

#ideal .info-card:hover p{
    color: #ffffff;
}

#ideal .info-card:hover button{
    color: var(--secondary-color);
}

/* Estilos de la sesion Contactos */

#contacto{
    width: 100%;
    background:#ffffff;
    text-align: center;
    padding: 150px 0;
}

#contacto h2{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--titulo-color);
}
#contacto p{
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 80px;
    color: #000;
    font-weight: 15px;
}

#contacto form{
    width: 90%;
    max-width:700px;
    margin: 0 auto;
}

#contacto h5{
    text-align:left;
}

#contacto form input,
#contacto form select{
    width: 100%;
    padding: 10px 15px;
    margin: 15px 0;
    border-radius: 4px;
    border: 1px solid #999;
}

#contacto button{
    padding: 8px 60px;
    background: #e8f006;
    color: #707070;
    border-radius: 10px;
    margin-top: 40px;
    border: 1px solid #919604;
}

#contacto button:hover{
    transition: all 400ms ease;
    color: #e8f006;
    background: transparent;
    border-color: #e8f006;
}

/* Estilos Footer */
footer{
    text-align: center;
    background: #000;
    color: #fff;
    padding: 30px;
}


/* Efectos Hover */

nav img,
#hero button,
#apartamentos img{
    transition: .5s;
}

#hero img:hover{
    transform: rotate(-360deg);
}

nav img:hover{
    transform: scale(1.1);
}

#hero button:hover{
    box-shadow: 4px 6px 6px 3px rgb(219, 226, 154);
    padding: 8px 60px;
    background: transparent;
    color: var(--tertiary-color);
    border-radius: 10px;
    margin-top: 40px;
    border: 1px solid #919604;
}

#apartamentos img:hover{
    transform: scale(0.9);
}


